@font-face {
    font-family: 'Ubuntu';
    src: local("ubuntu") url(./Ubuntu-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: local("ubuntu") url(./Ubuntu-Medium.ttf) format(truetype);
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 800;
    src: local("Ubuntu") url(./Ubuntu-Bold.ttf) format(truetype);
}